<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Document</title>
  <!-- css load -->
  <link href="../assets/css/kfa_style.css" rel="stylesheet">
</head>

<body>
  <!-- wrapper -->
  <div class="wrapper">
    <!-- header -->
    <div class="header">
      <div class="header-top">
        <div class="util">
          <div class="greeting">
            <strong>손흥민님</strong>환영합니다!
          </div>
          <ul>
            <li><a href title="회원가입">회원가입</a></li>
            <li><a href title="로그인">로그인</a></li>
            <li><a href title="고객센터">고객센터</a></li>
            <li><a href title="판매자센터">판매자센터</a></li>
          </ul>
          <div class="actions">
            <div class="change-language">
              <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
              <ul>
                <li><a href title="KOR">KOR</a></li>
                <li><a href title="ENG">ENG</a></li>
              </ul>
            </div>
            <a class="btn-sitemap" href title="사이트맵"><i class="ic-24-sitemap"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <h1 class="logo-header"><a href title="KFA PLAY 홈"><img src="../assets/images/logo-web.svg" alt="KFA PLAY"></a></h1>
        <div class="gnb">
          <ul class="depth1">
            <li><a class="font-point" href title="Ticket">Ticket</a>
              <ul class="depth2">
                <li><a href title="국가대표팀">국가대표팀</a></li>
                <li><a href title="올림픽대표팀">올림픽대표팀</a></li>
                <li><a href title="U-20">U-20</a></li>
                <li><a href title="통합 캘린더">통합 캘린더</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Shop">Shop</a>
              <ul class="depth2">
                <li><a href title="의류">의류</a></li>
                <li><a href title="패션">패션</a></li>
                <li><a href title="액세서리">액세서리</a></li>
                <li><a href title="문구">문구</a></li>
                <li><a href title="기념품">기념품</a></li>
                <li><a href title="축구장비">축구장비</a></li>
                <li><a href title="기타">기타</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Play">Play</a>
              <ul class="depth2">
                <li><a href title="경매">경매</a></li>
                <li><a href title="이벤트">이벤트</a></li>
                <li><a href title="투표">투표</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="snb">
          <a class="btn-mypage" href title="마이페이지"><i class="ic-24-mypage"></i></a>
          <a class="btn-cart" href title="장바구니"><i class="ic-24-cart"></i></a>
          <a class="btn-calendar" href title="통합캘린더"><i class="ic-24-info"></i></a>
          <a class="btn-search" href title="검색"><i class="ic-24-search"></i></a>
        </div>
      </div>
    </div>
    <!-- //header -->
    <!-- side menu -->
    <div class="side-menu" style="display:none;">
      <div class="side-menu-header">
        <div class="profile">
          <div class="profile-img" style="background-image:url(../assets/images/icon/ic-24-nega-mypage.svg);"></div>
          <a href="">마이페이지</a>
        </div>
        <div class="header-menu">
          <ul>
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
          </ul>
          <button class="btn-close">
            <i class="icon-24-nega-close"></i>
          </button>
        </div>
      </div>
      <div class="side-menu-content">
        <ul class="side-menu-group">
          <li class="has-child"><a href="javascript:;" class="font-point">Ticket</a>
            <ul class="depth2">
              <li><a href="" title="국가대표팀">국가대표팀</a></li>
              <li><a href="" title="올림픽대표팀">올림픽대표팀</a></li>
              <li><a href="" title="U-20">U-20</a></li>
              <li><a href="" title="통합 캘린더">통합 캘린더</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Shop</a>
            <ul class="depth2">
              <li><a href="" title="의류">의류</a></li>
              <li><a href="" title="패션">패션</a></li>
              <li><a href="" title="액세서리">액세서리</a></li>
              <li><a href="" title="문구">문구</a></li>
              <li><a href="" title="기념품">기념품</a></li>
              <li><a href="" title="축구장비">축구장비</a></li>
              <li><a href="" title="기타">기타</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Play</a>
            <ul class="depth2">
              <li><a href="" title="경매">경매</a></li>
              <li><a href="" title="이벤트">이벤트</a></li>
              <li><a href="" title="투표">투표</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" class="font-point">통합캘린더</a></li>
        </ul>
        <div class="side-menu-content-bottom">
          <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
        </div>
      </div>
      <div class="side-menu-footer">
        <div class="side-menu-footer-menu">
          <ul>
            <li><a href="">고객센터</a></li>
            <li><a href="">판매자센터</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //side menu -->
    <!-- content -->
    <div class="content sub mypage">
      <!-- Content Section (Login) -->
      <div class="content-section">
        <div class="breadcomb">
          <a href="">Home</a><a href="">마이페이지</a><span>구매/ 배송조회</span>
        </div>
        <!-- 마이페이지 -->
        <div class="mypage-row">
          <div class="col mypage-side-menu">
            <h2>MY PAGE</h2>
            <ul>
              <li><a href="">포인트 현황</a></li>
              <li><a href="">등급별 혜택보기</a></li>
              <li><a href="">할인쿠폰 현황</a></li>
              <li><a href="">구매/ 배송 조회</a></li>
              <li><a href="">관심상품</a></li>
              <li class="on"><a href="">단골샵</a></li>
              <li><a href="">문의 내역</a></li>
              <li><a href="">배송지 관리</a></li>
              <li><a href="">회원정보 관리</a></li>
            </ul>
          </div>
          <div class="col mypage-content">
            <h3>단골샵</h3>
            <div class="goods-list shop-category-list">
              <div class="list-top">
                <div class="list-action">
                  <div class="input-check"><input type="checkbox" name="" id=""></div>
                  <button class="btn-del">삭제</button>
                </div>
              </div>
              <ul>
                <!-- 목록 없음 -->
                <div class="goods-item no-item">
                  <p>등록된 단골샵이 없습니다</p>
                </div>
                <!-- //목록 없음 -->
                <li class="goods-item">
                  <div class="goods-img" style="background-image:url(https://dummyimage.com/187x254/f5f5f5/444444.png?text=Shop%20Image);"></div>
                  <div class="goods-info">
                    <div class="title"><a href="">KFA 테니스보이 클럽</a></div>
                  </div>
                  <div class="input-group">
                    <div class="item-check"><input type="checkbox" name="" id=""></div>
                  </div>
                </li>
                <li class="goods-item">
                  <div class="goods-img" style="background-image:url(https://dummyimage.com/187x254/f5f5f5/444444.png?text=Shop%20Image);"></div>
                  <div class="goods-info">
                    <div class="title"><a href="">KFA 테니스보이 클럽</a></div>
                  </div>
                  <div class="input-group">
                    <div class="item-check"><input type="checkbox" name="" id=""></div>
                  </div>
                </li>
                <li class="goods-item">
                  <div class="goods-img" style="background-image:url(https://dummyimage.com/187x254/f5f5f5/444444.png?text=Shop%20Image);"></div>
                  <div class="goods-info">
                    <div class="title"><a href="">KFA 테니스보이 클럽</a></div>
                  </div>
                  <div class="input-group">
                    <div class="item-check"><input type="checkbox" name="" id=""></div>
                  </div>
                </li>
                <li class="goods-item">
                  <div class="goods-img" style="background-image:url(https://dummyimage.com/187x254/f5f5f5/444444.png?text=Shop%20Image);"></div>
                  <div class="goods-info">
                    <div class="title"><a href="">KFA 테니스보이 클럽</a></div>
                  </div>
                  <div class="input-group">
                    <div class="item-check"><input type="checkbox" name="" id=""></div>
                  </div>
                </li>
                <li class="goods-item">
                  <div class="goods-img" style="background-image:url(https://dummyimage.com/187x254/f5f5f5/444444.png?text=Shop%20Image);"></div>
                  <div class="goods-info">
                    <div class="title"><a href="">KFA 테니스보이 클럽</a></div>
                  </div>
                  <div class="input-group">
                    <div class="item-check"><input type="checkbox" name="" id=""></div>
                  </div>
                </li>

              </ul>
              <!-- paging -->
              <div class="paging">
                <a href="" class="btn-front"><i class="icon-arr-front"></i></a>
                <a href="" class="btn-prev"><i class="icon-arr-prev"></i></a>
                <!-- 페이지 -->
                <a href="" class="on">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <!-- //페이지 -->
                <a href="" class="btn-next"><i class="icon-arr-next"></i></a>
                <a href="" class="btn-end"><i class="icon-arr-end"></i></a>
              </div>
              <!-- //paging -->
            </div>
          </div>
        </div>
        <!-- //마이페이지 -->
      </div>
      <!-- //Content Section (Login) -->
      <!-- popup area -->
      <!-- //popup area -->
    </div>
    <!-- //content -->
    <!-- footer -->
    <div class="footer">
      <div class="footer-top">
        <div class="footer-logo"><img src="../assets/images/logo-web.svg" alt=""></div>
        <div class="footer-info">
          <dl>
            <dt>회사명 : </dt>
            <dd>대한축구협회</dd>
          </dl>
          <dl>
            <dt>대표자명 : </dt>
            <dd>정몽규</dd>
          </dl>
          <dl>
            <dt>소재지 : </dt>
            <dd>03175 서울특별시 종로구 경희궁길 46</dd>
          </dl>
          <dl>
            <dt>대표번호 : </dt>
            <dd>02-2002-0707</dd>
          </dl>
          <dl>
            <dt>사업자등록번호 : </dt>
            <dd>102-82-00068</dd>
          </dl>
          <dl>
            <dt>통신판매업신고번호 : </dt>
            <dd>제2011-서울강서-0430호</dd>
          </dl>
          <dl>
            <dt>호스팅서비스제공자 : </dt>
            <dd>정승준(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <dl>
            <dt>개인정보보호책임자 : </dt>
            <dd>정몽주(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <p class="copyright">Copyright © 2017 CompanyName. All Rights Reserved.</p>
        </div>
        <div class="contact">
          <h3>고객센터</h3>
          <a class="tel" href="tel:1566-5666">1566-5666</a>
          <a class="email" href="mailto:admin@kfaplay.com">admin@kfaplay.com</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-menu">
          <ul>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="family-sites">
          <select name="" id="">
            <option value="" selected disabled>Family Site Link</option>
            <option value="">KFA Photo 사이트</option>
            <option value="">Join KFA</option>
            <option value="">KFA 미디어 채널</option>
            <option value="">KFA 아카데미 사이트</option>
          </select>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <button class="btn-top" title="화면 상단으로 스크롤 이동"><i class="ic-24-nega-front"></i></button>
  </div>
  <!-- //wrapper -->


  <!-- script load -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../assets/js/kfa_script.js"></script>
</body>

</html>