<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Document</title>
  <!-- css load -->
  <link href="../assets/css/kfa_style.css" rel="stylesheet">
</head>

<body>
  <!-- wrapper -->
  <div class="wrapper">
    <!-- header -->
    <div class="header">
      <div class="header-top">
        <div class="util">
          <div class="greeting">
            <strong>손흥민님</strong>환영합니다!
          </div>
          <ul>
            <li><a href title="회원가입">회원가입</a></li>
            <li><a href title="로그인">로그인</a></li>
            <li><a href title="고객센터">고객센터</a></li>
            <li><a href title="판매자센터">판매자센터</a></li>
          </ul>
          <div class="actions">
            <div class="change-language">
              <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
              <ul>
                <li><a href title="KOR">KOR</a></li>
                <li><a href title="ENG">ENG</a></li>
              </ul>
            </div>
            <a class="btn-sitemap" href title="사이트맵"><i class="ic-24-sitemap"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <h1 class="logo-header"><a href title="KFA PLAY 홈"><img src="../assets/images/logo-web.svg" alt="KFA PLAY"></a></h1>
        <div class="gnb">
          <ul class="depth1">
            <li><a class="font-point" href title="Ticket">Ticket</a>
              <ul class="depth2">
                <li><a href title="국가대표팀">국가대표팀</a></li>
                <li><a href title="올림픽대표팀">올림픽대표팀</a></li>
                <li><a href title="U-20">U-20</a></li>
                <li><a href title="통합 캘린더">통합 캘린더</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Shop">Shop</a>
              <ul class="depth2">
                <li><a href title="의류">의류</a></li>
                <li><a href title="패션">패션</a></li>
                <li><a href title="액세서리">액세서리</a></li>
                <li><a href title="문구">문구</a></li>
                <li><a href title="기념품">기념품</a></li>
                <li><a href title="축구장비">축구장비</a></li>
                <li><a href title="기타">기타</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Play">Play</a>
              <ul class="depth2">
                <li><a href title="경매">경매</a></li>
                <li><a href title="이벤트">이벤트</a></li>
                <li><a href title="투표">투표</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="snb">
          <a class="btn-mypage" href title="마이페이지"><i class="ic-24-mypage"></i></a>
          <a class="btn-cart" href title="장바구니"><i class="ic-24-cart"></i></a>
          <a class="btn-calendar" href title="통합캘린더"><i class="ic-24-info"></i></a>
          <a class="btn-search" href title="검색"><i class="ic-24-search"></i></a>
        </div>
      </div>
    </div>
    <!-- //header -->
    <!-- side menu -->
    <div class="side-menu" style="display:none;">
      <div class="side-menu-header">
        <div class="profile">
          <div class="profile-img" style="background-image:url(../assets/images/icon/ic-24-nega-mypage.svg);"></div>
          <a href="">마이페이지</a>
        </div>
        <div class="header-menu">
          <ul>
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
          </ul>
          <button class="btn-close">
            <i class="icon-24-nega-close"></i>
          </button>
        </div>
      </div>
      <div class="side-menu-content">
        <ul class="side-menu-group">
          <li class="has-child"><a href="javascript:;" class="font-point">Ticket</a>
            <ul class="depth2">
              <li><a href="" title="국가대표팀">국가대표팀</a></li>
              <li><a href="" title="올림픽대표팀">올림픽대표팀</a></li>
              <li><a href="" title="U-20">U-20</a></li>
              <li><a href="" title="통합 캘린더">통합 캘린더</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Shop</a>
            <ul class="depth2">
              <li><a href="" title="의류">의류</a></li>
              <li><a href="" title="패션">패션</a></li>
              <li><a href="" title="액세서리">액세서리</a></li>
              <li><a href="" title="문구">문구</a></li>
              <li><a href="" title="기념품">기념품</a></li>
              <li><a href="" title="축구장비">축구장비</a></li>
              <li><a href="" title="기타">기타</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Play</a>
            <ul class="depth2">
              <li><a href="" title="경매">경매</a></li>
              <li><a href="" title="이벤트">이벤트</a></li>
              <li><a href="" title="투표">투표</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" class="font-point">통합캘린더</a></li>
        </ul>
        <div class="side-menu-content-bottom">
          <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
        </div>
      </div>
      <div class="side-menu-footer">
        <div class="side-menu-footer-menu">
          <ul>
            <li><a href="">고객센터</a></li>
            <li><a href="">판매자센터</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //side menu -->
    <!-- content -->
    <div class="content sub cart">
      <!-- Content Section (Login) -->
      <div class="content-section">
        <h2>주문결제</h2>
        <div class="cart-row">
          <div class="col content-group">
            <form action="">
              <h3 class="title">주문상품 3개</h3>
              <div class="cart-list">
                <div class="list-group">
                  <ul>
                    <li class="list-item">
                      <div class="item-thumbnail">
                        <div class="img" style="background-image:url(https://dummyimage.com/96x96/999999/ffffff.jpg?text=Thumbnail%20Image);"></div>
                      </div>
                      <div class="item-info">
                        <div class="item-title"><a href="">KFA 레전드 8 엘리트 SG-PRO (CJ6085031)</a></div>
                        <div class="item-option">
                          <span>white/ 사이즈: 8 <em class="mo-only">1개</em></span>
                        </div>
                      </div>
                      <div class="item-count pc-only">
                        1개
                      </div>
                      <div class="price">
                        <strong>154,000</strong>원
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="item-thumbnail">
                        <div class="img" style="background-image:url(https://dummyimage.com/96x96/999999/ffffff.jpg?text=Thumbnail%20Image);"></div>
                      </div>
                      <div class="item-info">
                        <div class="item-title"><a href="">KFA 레전드 8 엘리트 SG-PRO (CJ6085031)</a></div>
                        <div class="item-option">
                          <span>white/ 사이즈: 8</span>
                        </div>
                      </div>
                      <div class="item-count">
                        1개
                      </div>
                      <div class="price">
                        <strong>154,000</strong>원
                      </div>
                    </li>
                  </ul>
                  <div class="seller-total">
                    <h3>(주)아이콘스</h3>
                  </div>
                </div>
                <div class="list-group">
                  <ul>
                    <li class="list-item">
                      <div class="item-thumbnail">
                        <div class="img" style="background-image:url(https://dummyimage.com/96x96/999999/ffffff.jpg?text=Thumbnail%20Image);"></div>
                      </div>
                      <div class="item-info">
                        <div class="item-title"><a href="">KFA 레전드 8 엘리트 SG-PRO (CJ6085031)</a></div>
                        <div class="item-option">
                          <span>white/ 사이즈: 8</span>
                        </div>
                      </div>
                      <div class="item-count">
                        1개
                      </div>
                      <div class="price">
                        <strong>154,000</strong>원
                      </div>
                      <button class="btn-del"><i class="icon-16-del"></i></button>
                    </li>
                  </ul>
                  <div class="seller-total">
                    <h3>(주)아이콘스</h3>
                  </div>
                </div>
              </div>
              <h3 class="title">주문자정보</h3>
              <!-- 주문자정보 -->
              <div class="form-field">
                <div class="input-row">
                  <div class="input-title">이름</div>
                  <div class="input-group">홍길동</div>
                </div>
                <div class="input-row">
                  <div class="input-title">휴대폰번호</div>
                  <div class="input-group">010-1234-5678</div>
                </div>
              </div>
              <!-- //주문자정보 -->
              <h3 class="title">배송지정보</h3>
              <!-- 배송지정보 -->
              <div class="form-field">
                <div class="input-row">
                  <div class="input-title">배송지선택</div>
                  <div class="input-group radio-group inline">
                    <div class="form-component"><label for="selAddress01"><input type="radio" name="selAddress" id="selAddress01" title="기본배송지" checked><span>기본배송지</span></label></div>
                    <div class="form-component"><label for="selAddress02"><input type="radio" name="selAddress" id="selAddress02" title="신규배송지"><span>신규배송지</span></label></div>
                    <button class="btn-form">배송지목록</button>
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">이름</div>
                  <div class="input-group">
                    <input type="text" name="" id="" value="홍기동">
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">연락처</div>
                  <div class="input-group">
                    <input type="tel" name="" id="" value="010-1234-5678">
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">주소</div>
                  <div class="input-group address wrap">
                    <input class="zipcode" type="text" name="" id="" placeholder="" value="03175" readonly>
                    <button class="btn-form" type="button">주소검색</button>
                    <input type="text" name="" id="" placeholder="" value="서울특셜시 종로구 경희궁길 46" readonly>
                    <input type="text" name="" id="" placeholder="상세주소를 입력해주세요">
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">배송요청사항</div>
                  <div class="input-group">
                    <select name="" id="">
                      <option value="">부재시 문 앞에 부탁드립니다</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- //배송지정보 -->
              <h3 class="title">쿠폰 및 포인트</h3>
              <!-- 쿠폰 및 포인트 -->
              <div class="form-field">
                <div class="input-row">
                  <div class="input-title">상품쿠폰</div>
                  <div class="input-group half">
                    <input type="text" name="" id="" class="text-right" value="5,000 원">
                    <button class="btn-form">적용</button>
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">배송비쿠폰</div>
                  <div class="input-group half">
                    <input type="text" name="" id="" class="text-right" value="무료배송">
                    <button class="btn-form">적용</button>
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-title">Point</div>
                  <div class="input-group half">
                    <input type="text" name="" id="" class="text-right" value="8,000 P">
                    <button class="btn-form">전액사용</button>
                  </div>
                  <div class="input-note">보유 포인트 <strong>10,000P</strong></div>
                </div>
              </div>
              <!-- //쿠폰 및 포인트 -->
              <h3 class="title">결제수단</h3>
              <!-- 결제수단 -->
              <div class="form-field">
                <div class="input-row">
                  <div class="input-group radio-group inline">
                    <div class="form-component"><label for="selPayment01"><input type="radio" name="selPayment" id="selPayment01" title="신용카드" checked><span>신용카드</span></label></div>
                    <div class="form-component"><label for="selPayment02"><input type="radio" name="selPayment" id="selPayment02" title="간편결제"><span>간편결제</span></label></div>
                  </div>
                </div>
                <div class="input-row">
                  <div class="input-group">
                    <select name="" id="">
                      <option value="" selected disabled>카드사를 선택해주세요</option>
                      <option value="">현대카드</option>
                      <option value="">국민카드</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- //배송지정보 -->
            </form>
          </div>
          <!--  -->
          <div class="col content-options">
            <!-- 상품 옵션 -->
            <div class="goods-info">
              <div class="goods-info-title"><strong>결제상세</strong></div>
              <div class="info-table">
                <dl class="option">
                  <dt>상품금액</dt>
                  <dd>
                    <strong>212,9000원</strong>
                  </dd>
                </dl>
                <dl class="option">
                  <dt>배송비</dt>
                  <dd>
                    <strong>3,000원</strong>
                  </dd>
                </dl>
                <dl class="option">
                  <dt>포인트</dt>
                  <dd>
                    <strong>0원</strong>
                  </dd>
                </dl>
                <dl class="option">
                  <dt>할인금액</dt>
                  <dd>
                    <strong class="font-primary">-1,000원</strong>
                  </dd>
                </dl>
              </div>
              <div class="total-price">
                <dl>
                  <dt>총 주문 금액</dt>
                  <dd><span class="font-primary"><strong>48,600</strong>원</span></dd>
                </dl>
                <dl class="point">
                  <dt>적립예정포인트</dt>
                  <dd>1000P</dd>
                </dl>
                <div class="input-group">
                  <label for="checkAgree"><input type="checkbox" name="checkAgree" id="checkAgree"><span>내용을 확인하였으며, 결제 및 개인정보 제 3자 정보 제공에 동의합니다.</span></label>
                </div>
              </div>
              <div class="btns-group">
                <button class="btn-action btn-size-normal btn-red bg-skew wide" type="button" onclick="">주문하기</button>
              </div>
            </div>
            <!-- //상품 옵션 -->
          </div>
        </div>
      </div>
      <!-- //Content Section (Login) -->
      <!-- popup area -->
      <!-- 상품쿠폰 할인적용 팝업 -->
      <div class="popup popup-apply-coupon full-size" style="display:block;">
        <div class="popup-wrapper">
          <div class="popup-header">
            <h2 class="text-left">상품쿠폰 할인적용</h2>
          </div>
          <div class="popup-content">
            <form action="">
              <div class="cart-list coupon-list">
                <h3>(주)아이콘스</h3>
                <div class="list-group">
                  <div class="list-header">
                    <dl>
                      <dt>상품 할인</dt>
                      <dd>(할인가능상품 <strong class="font-primary">2</strong>개)</dd>
                    </dl>
                  </div>
                  <ul>
                    <!-- 목록 없을 경우 -->
                    <li class="no-item">
                      <p>적용 가능한 쿠폰이 없습니다.</p>
                    </li>
                    <!-- //목록 없을 경우 -->
                    <li class="list-item">
                      <div class="text">
                        <div class="item-info">
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                        </div>
                        <div class="price">
                          <strong>154,000</strong>원
                        </div>
                      </div>
                      <div class="input-group radio-list coupons">
                        <label for="selCoupon1_1"><input type="radio" name="selCoupon1" id="selCoupon1_1"><span>즉시할인 -5,000원</span></label>
                        <label for="selCoupon1_2"><input type="radio" name="selCoupon1" id="selCoupon1_2"><span>즉시할인 -3,000원</span></label>
                        <label for="selCoupon1_3"><input type="radio" name="selCoupon1" id="selCoupon1_3"><span>회원할인 -500원</span></label>
                        <label for="selCoupon1_4"><input type="radio" name="selCoupon1" id="selCoupon1_4"><span>적용안함</span></label>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="text">
                        <div class="item-info">
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                        </div>
                        <div class="price">
                          <strong>154,000</strong>원
                        </div>
                      </div>
                      <div class="input-group radio-list coupons">
                        <label for="selCoupon2_1"><input type="radio" name="selCoupon2" id="selCoupon2_1"><span>즉시할인 -5,000원</span></label>
                        <label for="selCoupon2_2"><input type="radio" name="selCoupon2" id="selCoupon2_2"><span>즉시할인 -3,000원</span></label>
                        <label for="selCoupon2_3"><input type="radio" name="selCoupon2" id="selCoupon2_3"><span>회원할인 -500원</span></label>
                        <label for="selCoupon2_4"><input type="radio" name="selCoupon2" id="selCoupon2_4"><span>적용안함</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <h3>(주)아이콘스</h3>
                <div class="list-group">
                  <div class="list-header">
                    <dl>
                      <dt>상품 할인</dt>
                      <dd>(할인가능상품 <strong class="font-primary">2</strong>개)</dd>
                    </dl>
                  </div>
                  <ul>
                    <li class="list-item">
                      <div class="text">
                        <div class="item-info">
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                        </div>
                        <div class="price">
                          <strong>154,000</strong>원
                        </div>
                      </div>
                      <div class="input-group radio-list coupons">
                        <label for="selCoupon3_1"><input type="radio" name="selCoupon3" id="selCoupon3_1"><span>즉시할인 -5,000원</span></label>
                        <label for="selCoupon3_2"><input type="radio" name="selCoupon3" id="selCoupon3_2"><span>즉시할인 -3,000원</span></label>
                        <label for="selCoupon3_3"><input type="radio" name="selCoupon3" id="selCoupon3_3"><span>회원할인 -500원</span></label>
                        <label for="selCoupon3_4"><input type="radio" name="selCoupon3" id="selCoupon3_4"><span>적용안함</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="seller-total">
                  <dl>
                    <dt>상품금액</dt>
                    <dd>208,000원</dd>
                  </dl>
                  <div class="spacer"><i class="icon-16-minus"></i></div>
                  <dl>
                    <dt>할인금액</dt>
                    <dd><span class="font-primary">-1,000원</span></dd>
                  </dl>
                  <div class="spacer"><i class="icon-16-total"></i></div>
                  <dl>
                    <dt>총 주문금액</dt>
                    <dd>207,000원</dd>
                  </dl>
                </div>
              </div>
            </form>
          </div>
          <div class="popup-footer">
            <div class="btn-group">
              <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="javascript:$(this).parents('.popup').hide();">취소</button>
              <button class="btn-action btn-size-normal btn-red bg-skew" type="button" onclick="javascript:$(this).parents('.popup').hide();">쿠폰적용</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //상품쿠폰 할인적용 팝업 -->
      <!-- 배송쿠폰 할인적용 팝업 -->
      <div class="popup popup-apply-coupon full-size" style="display:block;">
        <div class="popup-wrapper">
          <div class="popup-header">
            <h2 class="text-left">배송쿠폰 할인적용</h2>
          </div>
          <div class="popup-content">
            <form action="">
              <div class="cart-list coupon-list">
                <h3>(주)아이콘스</h3>
                <div class="list-group">
                  <div class="list-header">
                    <dl>
                      <dt>상품 할인</dt>
                      <dd>(할인가능상품 <strong class="font-primary">2</strong>개)</dd>
                    </dl>
                  </div>
                  <ul>
                    <!-- 목록 없을 경우 -->
                    <li class="no-item">
                      <p>적용 가능한 쿠폰이 없습니다.</p>
                    </li>
                    <!-- //목록 없을 경우 -->
                    <li class="list-item">
                      <div class="text">
                        <div class="item-info">
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                        </div>
                        <div class="price">
                          <strong>154,000</strong>원
                        </div>
                      </div>
                      <div class="input-group radio-list coupons">
                        <label for="selCoupon4_1"><input type="radio" name="selCoupon4" id="selCoupon4_1"><span>즉시할인 -5,000원</span></label>
                        <label for="selCoupon4_2"><input type="radio" name="selCoupon4" id="selCoupon4_2"><span>즉시할인 -3,000원</span></label>
                        <label for="selCoupon4_3"><input type="radio" name="selCoupon4" id="selCoupon4_3"><span>회원할인 -500원</span></label>
                        <label for="selCoupon4_4"><input type="radio" name="selCoupon4" id="selCoupon4_4"><span>적용안함</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <h3>(주)아이콘스</h3>
                <div class="list-group">
                  <div class="list-header">
                    <dl>
                      <dt>상품 할인</dt>
                      <dd>(할인가능상품 <strong class="font-primary">2</strong>개)</dd>
                    </dl>
                  </div>
                  <ul>
                    <li class="list-item">
                      <div class="text">
                        <div class="item-info">
                          <div class="item-title">KFA 레전드 8 엘리트 SG-PRO (CJ6085031) / 1개</div>
                        </div>
                        <div class="price">
                          <strong>154,000</strong>원
                        </div>
                      </div>
                      <div class="input-group radio-list coupons">
                        <label for="selCoupon3_1"><input type="radio" name="selCoupon3" id="selCoupon3_1"><span>즉시할인 -5,000원</span></label>
                        <label for="selCoupon3_2"><input type="radio" name="selCoupon3" id="selCoupon3_2"><span>즉시할인 -3,000원</span></label>
                        <label for="selCoupon3_3"><input type="radio" name="selCoupon3" id="selCoupon3_3"><span>회원할인 -500원</span></label>
                        <label for="selCoupon3_4"><input type="radio" name="selCoupon3" id="selCoupon3_4"><span>적용안함</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="seller-total">
                  <dl>
                    <dt>배송금액</dt>
                    <dd>6,000원</dd>
                  </dl>
                  <div class="spacer"><i class="icon-16-minus"></i></div>
                  <dl>
                    <dt>할인금액</dt>
                    <dd><span class="font-primary">-2,000원</span></dd>
                  </dl>
                  <div class="spacer"><i class="icon-16-total"></i></div>
                  <dl>
                    <dt>총 주문금액</dt>
                    <dd>4,000원</dd>
                  </dl>
                </div>
              </div>
            </form>
          </div>
          <div class="popup-footer">
            <div class="btn-group">
              <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="javascript:$(this).parents('.popup').hide();">취소</button>
              <button class="btn-action btn-size-normal btn-red bg-skew" type="button" onclick="javascript:$(this).parents('.popup').hide();">쿠폰적용</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //배송쿠폰 할인적용 팝업 -->
      <!-- //popup area -->
    </div>
    <!-- //content -->
    <!-- footer -->
    <div class="footer">
      <div class="footer-top">
        <div class="footer-logo"><img src="../assets/images/logo-web.svg" alt=""></div>
        <div class="footer-info">
          <dl>
            <dt>회사명 : </dt>
            <dd>대한축구협회</dd>
          </dl>
          <dl>
            <dt>대표자명 : </dt>
            <dd>정몽규</dd>
          </dl>
          <dl>
            <dt>소재지 : </dt>
            <dd>03175 서울특별시 종로구 경희궁길 46</dd>
          </dl>
          <dl>
            <dt>대표번호 : </dt>
            <dd>02-2002-0707</dd>
          </dl>
          <dl>
            <dt>사업자등록번호 : </dt>
            <dd>102-82-00068</dd>
          </dl>
          <dl>
            <dt>통신판매업신고번호 : </dt>
            <dd>제2011-서울강서-0430호</dd>
          </dl>
          <dl>
            <dt>호스팅서비스제공자 : </dt>
            <dd>정승준(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <dl>
            <dt>개인정보보호책임자 : </dt>
            <dd>정몽주(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <p class="copyright">Copyright © 2017 CompanyName. All Rights Reserved.</p>
        </div>
        <div class="contact">
          <h3>고객센터</h3>
          <a class="tel" href="tel:1566-5666">1566-5666</a>
          <a class="email" href="mailto:admin@kfaplay.com">admin@kfaplay.com</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-menu">
          <ul>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="family-sites">
          <select name="" id="">
            <option value="" selected disabled>Family Site Link</option>
            <option value="">KFA Photo 사이트</option>
            <option value="">Join KFA</option>
            <option value="">KFA 미디어 채널</option>
            <option value="">KFA 아카데미 사이트</option>
          </select>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <button class="btn-top" title="화면 상단으로 스크롤 이동"><i class="ic-24-nega-front"></i></button>
  </div>
  <!-- //wrapper -->


  <!-- script load -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../assets/js/kfa_script.js"></script>
</body>

</html>