<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Document</title>
  <!-- css load -->
  <link href="../assets/css/kfa_style.css" rel="stylesheet">
</head>

<body>
  <!-- wrapper -->
  <div class="wrapper">
    <!-- header -->
    <div class="header">
      <div class="header-top">
        <div class="util">
          <div class="greeting">
            <strong>손흥민님</strong>환영합니다!
          </div>
          <ul>
            <li><a href title="회원가입">회원가입</a></li>
            <li><a href title="로그인">로그인</a></li>
            <li><a href title="고객센터">고객센터</a></li>
            <li><a href title="판매자센터">판매자센터</a></li>
          </ul>
          <div class="actions">
            <div class="change-language">
              <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
              <ul>
                <li><a href title="KOR">KOR</a></li>
                <li><a href title="ENG">ENG</a></li>
              </ul>
            </div>
            <a class="btn-sitemap" href title="사이트맵"><i class="ic-24-sitemap"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <h1 class="logo-header"><a href title="KFA PLAY 홈"><img src="../assets/images/logo-web.svg" alt="KFA PLAY"></a></h1>
        <div class="gnb">
          <ul class="depth1">
            <li><a class="font-point" href title="Ticket">Ticket</a>
              <ul class="depth2">
                <li><a href title="국가대표팀">국가대표팀</a></li>
                <li><a href title="올림픽대표팀">올림픽대표팀</a></li>
                <li><a href title="U-20">U-20</a></li>
                <li><a href title="통합 캘린더">통합 캘린더</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Shop">Shop</a>
              <ul class="depth2">
                <li><a href title="의류">의류</a></li>
                <li><a href title="패션">패션</a></li>
                <li><a href title="액세서리">액세서리</a></li>
                <li><a href title="문구">문구</a></li>
                <li><a href title="기념품">기념품</a></li>
                <li><a href title="축구장비">축구장비</a></li>
                <li><a href title="기타">기타</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Play">Play</a>
              <ul class="depth2">
                <li><a href title="경매">경매</a></li>
                <li><a href title="이벤트">이벤트</a></li>
                <li><a href title="투표">투표</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="snb">
          <a class="btn-mypage" href title="마이페이지"><i class="ic-24-mypage"></i></a>
          <a class="btn-cart" href title="장바구니"><i class="ic-24-cart"></i></a>
          <a class="btn-calendar" href title="통합캘린더"><i class="ic-24-info"></i></a>
          <a class="btn-search" href title="검색"><i class="ic-24-search"></i></a>
        </div>
      </div>
    </div>
    <!-- //header -->
    <!-- side menu -->
    <div class="side-menu" style="display:none;">
      <div class="side-menu-header">
        <div class="profile">
          <div class="profile-img" style="background-image:url(../assets/images/icon/ic-24-nega-mypage.svg);"></div>
          <a href="">마이페이지</a>
        </div>
        <div class="header-menu">
          <ul>
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
          </ul>
          <button class="btn-close">
            <i class="icon-24-nega-close"></i>
          </button>
        </div>
      </div>
      <div class="side-menu-content">
        <ul class="side-menu-group">
          <li class="has-child"><a href="javascript:;" class="font-point">Ticket</a>
            <ul class="depth2">
              <li><a href="" title="국가대표팀">국가대표팀</a></li>
              <li><a href="" title="올림픽대표팀">올림픽대표팀</a></li>
              <li><a href="" title="U-20">U-20</a></li>
              <li><a href="" title="통합 캘린더">통합 캘린더</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Shop</a>
            <ul class="depth2">
              <li><a href="" title="의류">의류</a></li>
              <li><a href="" title="패션">패션</a></li>
              <li><a href="" title="액세서리">액세서리</a></li>
              <li><a href="" title="문구">문구</a></li>
              <li><a href="" title="기념품">기념품</a></li>
              <li><a href="" title="축구장비">축구장비</a></li>
              <li><a href="" title="기타">기타</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Play</a>
            <ul class="depth2">
              <li><a href="" title="경매">경매</a></li>
              <li><a href="" title="이벤트">이벤트</a></li>
              <li><a href="" title="투표">투표</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" class="font-point">통합캘린더</a></li>
        </ul>
        <div class="side-menu-content-bottom">
          <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
        </div>
      </div>
      <div class="side-menu-footer">
        <div class="side-menu-footer-menu">
          <ul>
            <li><a href="">고객센터</a></li>
            <li><a href="">판매자센터</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //side menu -->
    <!-- content -->
    <div class="content sub shop play">
      <!-- Content Section -->
      <div class="content-section">
        <div class="breadcomb">
          <a href="">Home</a><a href="">Play</a><span>경매</span>
        </div>
        <!-- 상품상세 상단 -->
        <div class="shop-detail-top">
          <!-- 상품이미지 -->
          <div class="good-thumbnails">
            <div class="big-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-01.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-02.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-05.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-07.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-09.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-10.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-12.png);"></div>
              </div>
              <!-- 마감임박 Flag -->
              <div class="flag soon">
                <div class="text">
                  <i class="icon-timer"></i>
                  <span>마감임박</span>
                </div>
              </div>
              <!-- //마감임박 Flag -->
              <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
            </div>
            <div thumbsSlider="" class="thumb-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-01.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-02.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-05.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-07.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-09.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-10.png);"></div>
                <div class="swiper-slide" style="background-image: url(../assets/images/img-category-cloth-12.png);"></div>
              </div>
            </div>
          </div>
          <!-- //상품이미지 -->
          <!-- 상품 옵션 -->
          <div class="goods-info auction-info">
            <div class="remaining-time">남은시간 3분 50초</div>
            <div class="goods-title">나이키 브리드 2020 스타디움 홈 저지 S/S (CD0714653) 나이키 브리드 2020 스타디움 홈 저지 S/S (CD0714653)</div>
            <div class="price auction">
              <div class="start">
                <dl>
                  <dt>시작가</dt>
                  <dd>
                    <strong>54,000</strong>원
                    <span class="bid">
                      (호가 1,000원)
                    </span>
                  </dd>
                </dl>
              </div>
              <div class="current">
                <dl>
                  <dt>현재가</dt>
                  <dd><strong>48,600</strong>원</dd>
                </dl>
              </div>
            </div>
            <div class="info-table">
              <dl>
                <dt>즉시구매가</dt>
                <dd><span class="font-secondary">50,000원</span></dd>
              </dl>
              <dl>
                <dt>신청기간</dt>
                <dd>
                  2022.03.21 12:00:00 ~ 2022.03.21 12:00:00
                </dd>
              </dl>
              <!-- 입찰현황이 없을 경우 -->
              <dl class="bidding-status no-bidding">
                <dt>입찰현황</dt>
                <dd>입찰현황이 없습니다</dd>
              </dl>
              <!-- //입찰현황이 없을 경우 -->
              <!-- 입찰현황이 있을 경우 -->
              <dl class="bidding-status">
                <dt>입찰현황</dt>
                <dd>
                  <span class="count">128명</span>
                  <ul>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                    <li><span class="user">asd***</span><span class="bidding-price">68,000원</span></li>
                  </ul>
                </dd>
              </dl>
              <!-- //입찰현황이 있을 경우 -->
            </div>
            <div class="btns-group auction-btns-group">
              <button class="btn-action btn-size-normal btn-red bg-skew" type="button" onclick="">즉시구매</button>
              <button class="btn-action btn-size-normal btn-dark-blue bg-skew" type="button" onclick="">입찰신청</button>
            </div>
          </div>
          <!-- //상품 옵션 -->
        </div>
        <!-- //상품상세 상단 -->

      </div>
      <!-- //Content Section -->
      <!-- popup area -->
      <!-- 참가비 결제 팝업 -->
      <div class="popup popup-payment" style="display: ;">
        <div class="popup-wrapper">
          <div class="popup-header no-margin">
            <h2 class="text-left">입찰참가비 결제</h2>
            <button class="btn-close">
              <i class="icon-16-del"></i>
            </button>
          </div>
          <div class="popup-content">
            <div class="popup-result">
              입찰 신청을 위해<br>
              입찰참가비 ‘1,000’원 결제가 필요합니다.<br>
              결제하시겠습니까?
            </div>
            <div class="use-point">
              차감 Point 1,000 P<br>
              (보유 Point 100,000 P)
            </div>
            <ul class="form-note font-light-gray">
              <li>* 입찰참가비는 낙찰여부에 관계없이 반환되지 않습니다.</li>
              <li>* 입찰참가비는 보유하신 Point로만 전액결제 가능합니다. (10원 이상 결제시)</li>
            </ul>
          </div>
          <div class="popup-footer">
            <div class="btn-group">
              <!-- <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="javascript:$(this).parents('.popup').hide();">닫기</button> -->
              <button class="btn-action btn-size-normal btn-red bg-skew btn-wide-mo" type="button" onclick="javascript:$(this).parents('.popup').hide();">결제하기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //참가비 결제 팝업 -->
      <!-- 입찰신청 팝업 -->
      <div class="popup bid-form full-size" style="display: ;">
        <div class="popup-wrapper">
          <div class="popup-header no-margin">
            <h2 class="text-left">입찰신청</h2>
            <button class="btn-close">
              <i class="icon-16-del"></i>
            </button>
          </div>
          <div class="popup-content">
            <div class="auction-item">
              <img src='https://dummyimage.com/240x154/f5f5f5/333333.png?text=Auction%20Image' alt='' />
            </div>
            <form action="">
              <table class="info-table auto no-border">
                <colgroup>
                  <col style="width:calc(100% * 144/520);">
                  <col style="width:calc(100% * 376/520);">
                </colgroup>
                <tbody>
                  <tr>
                    <th>경매품명</th>
                    <td class="no-padding">국가대표팀 싸인볼 5호 라이센스 (손흥민 황희찬 황인범 정우...</td>
                  </tr>
                  <tr>
                    <th>경매입찰 남은시간</th>
                    <td class="no-padding">05:30:20</td>
                  </tr>
                  <tr>
                    <th>현재가</th>
                    <td class="no-padding">105,000원</td>
                  </tr>
                  <tr>
                    <th>호가</th>
                    <td class="no-padding">1,000원</td>
                  </tr>
                  <tr>
                    <th>입찰가</th>
                    <td class="no-padding">106,000원</td>
                  </tr>
                  <tr>
                    <th>입찰자 정보</th>
                    <td class="no-padding">
                      <div class="form-field">
                        <div class="input-row">
                          <div class="input-group bid-user">
                            <span class="user">kfa0123</span>
                            <button class="btn-form">배송지목록</button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>배송지</th>
                    <td class="no-padding">
                      <div class="form-field">
                        <div class="input-row">
                          <div class="input-group address wrap">
                            <input class="zipcode" type="text" name="" id="" placeholder="" value="03175" readonly>
                            <button class="btn-form" type="button">우편번호</button>
                            <input type="text" name="" id="" placeholder="" value="서울특셜시 종로구 경희궁길 46" readonly>
                            <input type="text" name="" id="" placeholder="상세주소를 입력해주세요">
                          </div>
                        </div>

                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>배송요청사항</th>
                    <td class="no-padding">
                      <div class="input-row">
                        <div class="input-group">
                          <select name="" id="" style="width:100%;">
                            <option value="">부재시 문 앞에 부탁드립니다</option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <div class="popup-footer">
            <div class="btn-group">
              <!-- <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="javascript:$(this).parents('.popup').hide();">닫기</button> -->
              <button class="btn-action btn-size-normal btn-red bg-skew mo-" type="button" onclick="javascript:$(this).parents('.popup').hide();">입찰신청</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //입찰신청 팝업 -->
      <!-- //popup area -->
    </div>
    <!-- //content -->
    <!-- footer -->
    <div class="footer">
      <div class="footer-top">
        <div class="footer-logo"><img src="../assets/images/logo-web.svg" alt=""></div>
        <div class="footer-info">
          <dl>
            <dt>회사명 : </dt>
            <dd>대한축구협회</dd>
          </dl>
          <dl>
            <dt>대표자명 : </dt>
            <dd>정몽규</dd>
          </dl>
          <dl>
            <dt>소재지 : </dt>
            <dd>03175 서울특별시 종로구 경희궁길 46</dd>
          </dl>
          <dl>
            <dt>대표번호 : </dt>
            <dd>02-2002-0707</dd>
          </dl>
          <dl>
            <dt>사업자등록번호 : </dt>
            <dd>102-82-00068</dd>
          </dl>
          <dl>
            <dt>통신판매업신고번호 : </dt>
            <dd>제2011-서울강서-0430호</dd>
          </dl>
          <dl>
            <dt>호스팅서비스제공자 : </dt>
            <dd>정승준(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <dl>
            <dt>개인정보보호책임자 : </dt>
            <dd>정몽주(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <p class="copyright">Copyright © 2017 CompanyName. All Rights Reserved.</p>
        </div>
        <div class="contact">
          <h3>고객센터</h3>
          <a class="tel" href="tel:1566-5666">1566-5666</a>
          <a class="email" href="mailto:admin@kfaplay.com">admin@kfaplay.com</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-menu">
          <ul>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="family-sites">
          <select name="" id="">
            <option value="" selected disabled>Family Site Link</option>
            <option value="">KFA Photo 사이트</option>
            <option value="">Join KFA</option>
            <option value="">KFA 미디어 채널</option>
            <option value="">KFA 아카데미 사이트</option>
          </select>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <button class="btn-top" title="화면 상단으로 스크롤 이동"><i class="ic-24-nega-front"></i></button>
  </div>
  <!-- //wrapper -->


  <!-- script load -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../assets/js/kfa_script.js"></script>
</body>

</html>