<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Document</title>
  <!-- css load -->
  <link href="../assets/css/kfa_style.css" rel="stylesheet">
</head>

<body>
  <!-- wrapper -->
  <div class="wrapper">
    <!-- header -->
    <div class="header">
      <div class="header-top">
        <div class="util">
          <div class="greeting">
            <strong>손흥민님</strong>환영합니다!
          </div>
          <ul>
            <li><a href title="회원가입">회원가입</a></li>
            <li><a href title="로그인">로그인</a></li>
            <li><a href title="고객센터">고객센터</a></li>
            <li><a href title="판매자센터">판매자센터</a></li>
          </ul>
          <div class="actions">
            <div class="change-language">
              <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
              <ul>
                <li><a href title="KOR">KOR</a></li>
                <li><a href title="ENG">ENG</a></li>
              </ul>
            </div>
            <a class="btn-sitemap" href title="사이트맵"><i class="ic-24-sitemap"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <h1 class="logo-header"><a href title="KFA PLAY 홈"><img src="../assets/images/logo-web.svg" alt="KFA PLAY"></a></h1>
        <div class="gnb">
          <ul class="depth1">
            <li><a class="font-point" href title="Ticket">Ticket</a>
              <ul class="depth2">
                <li><a href title="국가대표팀">국가대표팀</a></li>
                <li><a href title="올림픽대표팀">올림픽대표팀</a></li>
                <li><a href title="U-20">U-20</a></li>
                <li><a href title="통합 캘린더">통합 캘린더</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Shop">Shop</a>
              <ul class="depth2">
                <li><a href title="의류">의류</a></li>
                <li><a href title="패션">패션</a></li>
                <li><a href title="액세서리">액세서리</a></li>
                <li><a href title="문구">문구</a></li>
                <li><a href title="기념품">기념품</a></li>
                <li><a href title="축구장비">축구장비</a></li>
                <li><a href title="기타">기타</a></li>
              </ul>
            </li>
            <li><a class="font-point" href title="Play">Play</a>
              <ul class="depth2">
                <li><a href title="경매">경매</a></li>
                <li><a href title="이벤트">이벤트</a></li>
                <li><a href title="투표">투표</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="snb">
          <a class="btn-mypage" href title="마이페이지"><i class="ic-24-mypage"></i></a>
          <a class="btn-cart" href title="장바구니"><i class="ic-24-cart"></i></a>
          <a class="btn-calendar" href title="통합캘린더"><i class="ic-24-info"></i></a>
          <a class="btn-search" href title="검색"><i class="ic-24-search"></i></a>
        </div>
      </div>
    </div>
    <!-- //header -->
    <!-- side menu -->
    <div class="side-menu" style="display:none;">
      <div class="side-menu-header">
        <div class="profile">
          <div class="profile-img" style="background-image:url(../assets/images/icon/ic-24-nega-mypage.svg);"></div>
          <a href="">마이페이지</a>
        </div>
        <div class="header-menu">
          <ul>
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
          </ul>
          <button class="btn-close">
            <i class="icon-24-nega-close"></i>
          </button>
        </div>
      </div>
      <div class="side-menu-content">
        <ul class="side-menu-group">
          <li class="has-child"><a href="javascript:;" class="font-point">Ticket</a>
            <ul class="depth2">
              <li><a href="" title="국가대표팀">국가대표팀</a></li>
              <li><a href="" title="올림픽대표팀">올림픽대표팀</a></li>
              <li><a href="" title="U-20">U-20</a></li>
              <li><a href="" title="통합 캘린더">통합 캘린더</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Shop</a>
            <ul class="depth2">
              <li><a href="" title="의류">의류</a></li>
              <li><a href="" title="패션">패션</a></li>
              <li><a href="" title="액세서리">액세서리</a></li>
              <li><a href="" title="문구">문구</a></li>
              <li><a href="" title="기념품">기념품</a></li>
              <li><a href="" title="축구장비">축구장비</a></li>
              <li><a href="" title="기타">기타</a></li>
            </ul>
          </li>
          <li class="has-child"><a href="javascript:;" class="font-point">Play</a>
            <ul class="depth2">
              <li><a href="" title="경매">경매</a></li>
              <li><a href="" title="이벤트">이벤트</a></li>
              <li><a href="" title="투표">투표</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" class="font-point">통합캘린더</a></li>
        </ul>
        <div class="side-menu-content-bottom">
          <button class="btn-lang" title="언어변경(영문)"><span>KOR</span><i class="ic-16-language"></i></button>
        </div>
      </div>
      <div class="side-menu-footer">
        <div class="side-menu-footer-menu">
          <ul>
            <li><a href="">고객센터</a></li>
            <li><a href="">판매자센터</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //side menu -->
    <!-- content -->
    <div class="content sub community play">
      <!-- Content Section (Login) -->
      <div class="content-section">
        <div class="breadcomb">
          <a href="">Home</a><a href="">Play</a><span>이벤트</span>
        </div>
        <h2>이벤트</h2>
        <div class="event-detail">
          <div class="event-top-visual">
            <div class="visual-title">
              [오픈트레이닝데이] 박지성과 함께하는 축구의 기초
            </div>
            <div class="visual-img">
              <img src='https://dummyimage.com/660x240/f5f5f5/333333.png?text=Event%20Image' alt='' />
            </div>
          </div>
          <div class="event-result">
            <div class="result-text">
              <div class="result-icon"></div>
              <strong>축하합니다! 당첨되셨습니다.</strong>
              <span>결제취소를 원하시면 KFA CS센터로 문의바랍니다. <br class="mo-only">연락처:1566-6666</span>
            </div>
          </div>
          <div class="event-btns-group">
            <button class="btn-action btn-size-normal btn-share bg-skew btn-white" title="공유하기"><i class="ic-24-share"></i></button>
            <!-- 이벤트 참가 전 버튼 -->
            <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="">참가신청</button>
            <!-- //이벤트 참가 전 버튼 -->
            <!-- 이벤트 종료 후 버튼 -->
            <button class="btn-action btn-size-normal btn-dark-blue bg-skew btn-close" type="button" onclick="">당첨자 확인</button>
            <!-- //이벤트 종료 후 버튼 -->
          </div>
          <div class="event-content">
            <!-- 이벤트 상세 내용 들어가는 부분 -->
            <h4 style="font-size:1.25rem;font-weight:500;">신청기간</h4>
            <p style="font-size:.875rem;margin-bottom:2.5rem;">2022.03.21 ~ 2022.03.28</p>
            <h4 style="font-size:1.25rem;font-weight:500;">참가비</h4>
            <p style="font-size:.875rem;margin-bottom:2.5rem;">10,000원</p>
            <h4 style="font-size:1.25rem;font-weight:500;">내용</h4>
            <p style="font-size:.875rem;margin-bottom:2.5rem;">2002년 월드컵 4강 신화의 주인공 박지성 선수와 함께하는 축구의 기초 실력 다지기. 누구나 참가할 수 있습니다!!!<br>
              축구 경기에서 경기에 대한 모든 기술과 피지컬 훈련 또한 경기가 잘 되지않을때 이미지 트레이닝 또한 경기분석 문제점 파악 미드필더를 오래 지내온 경험으로 오프더 볼 (볼이 없을때 움직임) 클래스입니다.<br>
              <br>
              1. 준비물<br>
              &nbsp;&nbsp;1) 축구가방: 가방은 체육복 공 등을 넣을 수있는 충분한크기의 가방이 필요하다<br>
              &nbsp;&nbsp;2) 축구화:축구화는 미끌어지지않는 인조잔디형으로 준비를해야 부상예방에 탁월하다<br>
              &nbsp;&nbsp;3) 유니폼: 신축성이 있어서 경기중에 흘린 땀을 쉽게 배출해줄수 있는 기능성 운동복이 좋다<br>
              &nbsp;&nbsp;4) 스프레이파스: 축구는 과격하게 움직임으로 인해 뻐근할때 스프레이파스는 근육을 이완시켜준다<br>
              &nbsp;&nbsp;5 )머리띠:얼굴 눈에 땀흘러내림을 방지해준다<br>
              &nbsp;&nbsp;6) 정강이 보호대 : 정강이부상을 막아준다<br>
              &nbsp;&nbsp;7) 스타킹 : 스타킹은 무릎까지 올라오는 것이 좋다
            </p>
            <!-- //이벤트 상세 내용 들어가는 부분 -->
          </div>
        </div>
      </div>
      <!-- //Content Section (Login) -->
      <!-- popup area -->
      <!-- //popup area -->
    </div>
    <!-- //content -->
    <!-- footer -->
    <div class="footer">
      <div class="footer-top">
        <div class="footer-logo"><img src="../assets/images/logo-web.svg" alt=""></div>
        <div class="footer-info">
          <dl>
            <dt>회사명 : </dt>
            <dd>대한축구협회</dd>
          </dl>
          <dl>
            <dt>대표자명 : </dt>
            <dd>정몽규</dd>
          </dl>
          <dl>
            <dt>소재지 : </dt>
            <dd>03175 서울특별시 종로구 경희궁길 46</dd>
          </dl>
          <dl>
            <dt>대표번호 : </dt>
            <dd>02-2002-0707</dd>
          </dl>
          <dl>
            <dt>사업자등록번호 : </dt>
            <dd>102-82-00068</dd>
          </dl>
          <dl>
            <dt>통신판매업신고번호 : </dt>
            <dd>제2011-서울강서-0430호</dd>
          </dl>
          <dl>
            <dt>호스팅서비스제공자 : </dt>
            <dd>정승준(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <dl>
            <dt>개인정보보호책임자 : </dt>
            <dd>정몽주(<a href="mailto:ssmin@mariannekate.com">ssmin@mariannekate.com</a>)</dd>
          </dl>
          <p class="copyright">Copyright © 2017 CompanyName. All Rights Reserved.</p>
        </div>
        <div class="contact">
          <h3>고객센터</h3>
          <a class="tel" href="tel:1566-5666">1566-5666</a>
          <a class="email" href="mailto:admin@kfaplay.com">admin@kfaplay.com</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-menu">
          <ul>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="family-sites">
          <select name="" id="">
            <option value="" selected disabled>Family Site Link</option>
            <option value="">KFA Photo 사이트</option>
            <option value="">Join KFA</option>
            <option value="">KFA 미디어 채널</option>
            <option value="">KFA 아카데미 사이트</option>
          </select>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <button class="btn-top" title="화면 상단으로 스크롤 이동"><i class="ic-24-nega-front"></i></button>
  </div>
  <!-- //wrapper -->


  <!-- script load -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery-ui.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../assets/js/kfa_script.js"></script>
</body>

</html>